@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--light-gray);
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    border-radius: 20px;
    font-family: "Outfit",sans-serif;
    text-align: center;
}
.card img {
    border-radius: 10px;
} 
.top {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 700;
}
.bottom {
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 400;
    margin-top: 1px;
}